<div class="col-md-3">
    
    <p class="one">f</p>
  </div>
  <div class="col-md-3">
    
    <p class="two">ee</p>
  </div>
  <div class="col-md-3"> 
    
    <p class="three">dm</p>
  </div>
  <div class="col-md-3">
    
    <p class="four">e</p>
  </div>