/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
// Import google fonts
@import url('http://fonts.googleapis.com/css?family=Gochi+Hand');
@import url(http://fonts.googleapis.com/css?family=Lato:300);
// LOGO FONT
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300);
$maincolor: rgba(255, 255, 0,0.5);
$mainfont: 'Lato', sans-serif;
$basewidth: 600px;

// Background animation
@-webkit-keyframes test {
  0% {
    background-image: url('bg1.jpg');
  }
  25% {
    background-image: url('bg2.jpg');
  }
  50% {
    background-image: url('bg4.jpg');
  }
  75% {
    background-image: url('bg5.jpg');
  }
  100% {
    background-image: url('bg6.jpg');
  }
}

label {
  font-family: $mainfont;
  font-size: 1.2em;
  margin: 10px 0 0 0;
}
#logo {
  font-family: 'Titillium Web', sans-serif;
  font-size: 4em;
  color: white;
}
strong, h1 {
  font-family: $mainfont;
}
body {
  background-image: url('background1.png');
  padding-top: 70px; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: $mainfont;

  -webkit-animation-name: test;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: 50;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
}
div.wrapper {
  background-color: rgba(255, 255, 255,0.8);
  border-radius: 3px;
}
div.input-group {
  font-family: $mainfont;
  font-size: 2em;
  margin: 5px 0;
}
div.dislike-item{
  // padding-top: 0.4em;
  font-size: 3em;
  height: 100%;
  // background-color: rgba(255, 0, 44, 0.5);
}
div.like-item{
  height: 100%;
  font-size: 1.2em;  
  background-color: rgba(0, 202, 44, 0.5);
}
input.form-control.input-lg {
  border-radius: 0;
  // height: 100px;
  font-family: $mainfont;
  // font-size: 3em;
}
div.food-item.row{
  background-color: rgba(255, 202, 44, 0.8);
  height: 100px;
  font-family: $mainfont;
  font-size: 1.2em;
  margin: 0 0 2px 0;
}
#transparent-button {
  background-color: rgba(0,0,0,0.5);
  border-radius: 1px;
  color: white;
  font-family: $mainfont;
  font-size: 1.5em;
}
button.btn{
  // height: 100px;
  margin: 5px 0 0 0;
  border-radius: 0;
  font-family: $mainfont;
  font-size: 1.5em;
}
i.glyphicon {
 font-size: 2em;
}

// Google Maps Style
#map-canvas {
 height: 500px;
 margin: 0px;
 padding: 0px
}
.controls {
 margin-top: 16px;
 border: 1px solid transparent;
 border-radius: 2px 0 0 2px;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 height: 32px;
 outline: none;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
 background-color: #fff;
 padding: 0 11px 0 13px;
 width: 400px;
 font-family: Roboto;
 font-size: 15px;
 font-weight: 300;
 text-overflow: ellipsis;
}

#pac-input:focus {
 border-color: #4d90fe ;
 margin-left: -1px;
 padding-left: 14px;  /* Regular padding-left + 1. */
 width: 401px;
}

.pac-container {
 font-family: Roboto;
}

#type-selector {
 color: #fff;
 background-color: #4d90fe ;
 padding: 5px 11px 0px 11px;
}

#type-selector label {
 font-family: Roboto;
 font-size: 13px;
 font-weight: 300;
}
#target {
 width: 345px;
}

.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

/* Red */
$bgDefault      : rgba(0, 0, 0,0.2);
$bgHighlight    : rgba(0, 0, 0,0);
$colDefault     : #ecf0f1;
$colHover       : #ffbbbc; 


/* --- NAV BAR Style --- */
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}








































