.home2 {
	height: 386px;
	width: 450px;
	float: left;
	background-image: url("imgres.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.home3 {
	height: 386px;
	margin-left: -1000px;

}

#feedme {
	font-family: 'Lato';
	font-size: 250px;
	text-align: center;

}