<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
    <div class="input-group">
      <input class="form-control input-lg" type="text" placeholder="i am at ..." id="userLocation">
      <span class="input-group-addon" ng-click="getLocation()">
        <i class="glyphicon glyphicon-map-marker"></i>
      </span>
    </div>
    <input ng-model="userBudget" class="form-control input-lg" type="text" placeholder="my budget...">
    <button id="transparent-button" data-toggle="modal" data-target="#myModal" ng-click="searchFood(userBudget)" class="btn btn-default btn-lg btn-block">SHOW</button>
  </div>
</div>
<p>userLocation</p>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <p>Good food takes time...</p>
      </div>
      <div class="modal-body">
      <img ng-src="http://media1.giphy.com/media/IOJ2VEA5KkAwg/giphy.gif">
      </div>
    </div>
  </div>
</div>
