<h1>Add restaurant</h1>
<input ng-model="restaurant.name" placeholder="name"><br>
<input ng-model="restaurant.website" type="url" placeholder="website"><br>
<input ng-model="restaurant.phone_number" type="tel" placeholder="phone number"><br>
<input ng-model="restaurant.address" placeholder="address"><br>
<input ng-model="restaurant.yelp_id" placeholder="yelp id"><br>
<input ng-model="restaurant.image_url" type="url" placeholder="image urls"><br>
<input ng-model="restaurant.categories" placeholder="categories"><br>
<input ng-model="restaurant.lat" placeholder="lat"><br>
<input ng-model="restaurant.lng" placeholder="lng"><br>
<button ng-click="addRestaurant(restaurant)">Add restaurant</button>
<br>
<br>
<p>{{restaurant}}</p>