<h1>this is the product page template</h1>
<h2>{{test}}</h2>

<h1>Add product</h1>
<input ng-model="product.name" placeholder="name"><br>
<input ng-model="product.categories" placeholder="categories"><br>
<input ng-model="product.description" placeholder="description"><br>
<input ng-model="product.image_urls" placeholder="image_urls"><br>
<input ng-model="product.regular_price" placeholder="regular price"><br>
<input ng-model="product.discount_price" placeholder="discount price"><br>
<input ng-model="product.discount_start_time" placeholder="discount start time"><br>
<input ng-model="product.discount_end_time" placeholder="discoutn end time"><br>
<input ng-model="product.discount_inventory" placeholder="inventory"><br>
<button ng-click="addOrder(product)">Add product</button>

