<button ng-click="getProduct()">Show Products</button>
<h1>Product Page</h1>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
      <th>From Restaurant</th>
      <th>Order</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td> <img ng-src="{{product.image_urls}}" width="100px"></td>
      <td>{{product.price}}</td>
      <td>{{product.restaurant_id}}</td>
      <td><button ng-click="orderProduct(product)">Order</button></td>
    </tr>
  </tbody>
</table>
