<!DOCTYPE html>
<html>
<head>
  <title>feedme</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="feedmeApp">
<a ui-sref="home">home</a>
<a ui-sref="options">options</a>
<a ui-sref="order">order</a>
<a ui-sref="user">user</a>
<a ui-sref="restaurant">restaurant</a>
<%= yield %>

</body>
</html>
